body {
    background-image:url("https://images.unsplash.com/photo-1515165244752-2465b61f0441?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2a0e354c2c6767c0b1ab4733ff24011&auto=format&fit=crop&w=989&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    //pink color 1 fbe2e2 salmon
    //pink color 2 f8e9ec old rose
    //pink color 3 fff1f1 light pink
}