body {
    background-image:url("/assets/pink_rose.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    //pink color 1 fbe2e2 salmon
    //pink color 2 f8e9ec old rose
    //pink color 3 fff1f1 light pink
}