.navbar {
    background-color: #F4E0DC;
    padding-bottom: 0px;
}

.navbar-brand { padding-left: 1em;}

.laravelle-logo {
    position: relative;
    top:-5px;
    margin-bottom: 10px;
}

.navbar-right {
    position: absolute;
    right: 1rem;
}